body {
  /* BACKGROUND 1: white-grey background with radial gradients */
  /* background-image:
			radial-gradient(35% 35% at 30% 70%, #a8b8e2 0%, rgba(168, 184, 226, 0.75) 25%, rgba(168, 184, 226, 0.5) 50%, rgba(168, 184, 226, 0) 100%), 
			radial-gradient(40% 50% at 50% 50%, #94bbe9 0%, rgba(148, 187, 233, 0.75) 25%, rgba(148, 187, 233, 0.5) 50%, rgba(148, 187, 233, 0) 100%), 
			radial-gradient(25% 25% at 70% 30%, #bdb5db 0%, rgba(189, 181, 219, 0.75) 25%, rgba(189, 181, 219, 0.5) 50%, rgba(189, 181, 219, 0) 100%), 
			linear-gradient(180deg, #ffffff 0%, #f2f1f2 33.33%, #d1d8df 100%) */

  /* BACKGROUND 2: purple to blue gradient */
  background: linear-gradient(
    180deg,
    #4b54f7,
    #4858f6,
    #465bf5,
    #445ff4,
    #4362f3,
    #4265f1,
    #4268f0,
    #426bee,
    #426eec,
    #4371ea,
    #4573e8,
    #4776e6
  );
  overflow-x: hidden;
}

/* GEOMETRIC BACKGROUND OVERLAY */
svg {
  height: 170%;
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  overflow: hidden;
}

.st0 {
  opacity: 0.2;
  fill: #ffffff;
}
.st18 {
  opacity: 0.5;
  fill: #fbfcfd;
}
.st7 {
  opacity: 0.5;
  fill: #f7f9fb;
}
.st22 {
  opacity: 0.5;
  fill: #f3f6f9;
}
.st6 {
  opacity: 0.5;
  fill: #eff3f7;
}
.st10 {
  opacity: 0.2;
  fill: #ebf0f5;
}
.st30 {
  opacity: 0.5;
  fill: #e7edf3;
}
.st32 {
  opacity: 0.5;
  fill: #e3eaf1;
}
.st3 {
  opacity: 0.2;
  fill: #dfe7ef;
}
.st20 {
  opacity: 0.5;
  fill: #dbe4ee;
}
.st8 {
  opacity: 0.2;
  fill: none;
  stroke: #d7e0ec;
  stroke-miterlimit: 10;
}
.st28 {
  opacity: 5e-2;
  fill: none;
  stroke: #d7e0ec;
  stroke-miterlimit: 10;
}
.st16 {
  opacity: 0.5;
  fill: #d3ddeb;
}
.st26 {
  opacity: 0.5;
  fill: #cfd9e9;
}
.st29 {
  opacity: 0.5;
  fill: #cbd6e8;
}
.st33 {
  opacity: 0.5;
  fill: #c7d2e6;
}
.st17 {
  opacity: 0.5;
  fill: #c3cfe5;
}
.st24 {
  opacity: 0.5;
  fill: #bfcbe3;
}
.st31 {
  opacity: 0.5;
  fill: #bbc8e2;
}
.st1 {
  opacity: 0.2;
  fill: #b7c4e0;
}
.st12 {
  opacity: 0.2;
  fill: #b3c1df;
}
.st15 {
  opacity: 0.5;
  fill: #afbddd;
}
.st21 {
  opacity: 0.5;
  fill: #abbadc;
}
.st27 {
  opacity: 0.2;
  fill: #a7b6da;
}
.st13 {
  opacity: 0.2;
  fill: #a3b3d9;
}
.st25 {
  opacity: 0.5;
  fill: #9fafd7;
}
.st14 {
  opacity: 0.5;
  fill: #9dadd6;
}
.st19 {
  opacity: 0.5;
  fill: #97a8d4;
}
.st5 {
  opacity: 0.2;
  fill: #93a4d2;
}
.st4 {
  opacity: 0.2;
  fill: #8fa0d0;
}
.st9 {
  opacity: 0.2;
  fill: #8b9cce;
}
.st23 {
  opacity: 0.5;
  fill: #8798cc;
}
.st2 {
  opacity: 0.2;
  fill: #8394ca;
}
.st11 {
  opacity: 0.2;
  fill: #7f90c8;
}

.st13 {
  opacity: 0.3;
  fill: #ffffff;
}
.st47 {
  opacity: 0.3;
  fill: #fbfcfd;
}
.st3 {
  opacity: 0.5;
  fill: #f7f9fb;
}
.st32 {
  opacity: 0.5;
  fill: #f3f6f9;
}
.st17 {
  opacity: 0.5;
  fill: #eff3f7;
}
.st27 {
  opacity: 0.3;
  fill: #ebf0f5;
}
.st29 {
  opacity: 0.3;
  fill: #e7edf3;
}
.st31 {
  opacity: 0.5;
  fill: #e7edf3;
}
.st18 {
  opacity: 0.5;
  fill: #e3eaf1;
}
.st54 {
  opacity: 0.3;
  fill: #dfe7ef;
}
.st43 {
  opacity: 0.34;
  fill: #dbe4ee;
}
.st36 {
  opacity: 0.3;
  fill: #d7e0ec;
}
.st48 {
  opacity: 0.3;
  fill: #d3ddeb;
}
.st6 {
  opacity: 0.5;
  fill: #cfd9e9;
}
.st10 {
  opacity: 0.5;
  fill: #cbd6e8;
}
.st24 {
  opacity: 0.3;
  fill: #c7d2e6;
}
.st8 {
  opacity: 0.5;
  fill: #c3cfe5;
}
.st56 {
  opacity: 0.5;
  fill: #bfcbe3;
}
.st58 {
  opacity: 0.34;
  fill: #bbc8e2;
}
.st33 {
  opacity: 0.3;
  fill: none;
  stroke: #b7c4e0;
  stroke-miterlimit: 10;
}
.st34 {
  opacity: 5e-2;
  fill: none;
  stroke: #b7c4e0;
  stroke-miterlimit: 10;
}
.st45 {
  opacity: 0.35;
  fill: none;
  stroke: #b7c4e0;
  stroke-miterlimit: 10;
}
.st46 {
  opacity: 0.5;
  fill: #b7c4e0;
}
.st51 {
  opacity: 0.33;
  fill: none;
  stroke: #b7c4e0;
  stroke-miterlimit: 10;
}
.st2 {
  opacity: 0.5;
  fill: #b3c1df;
}
.st5 {
  opacity: 0.5;
  fill: #afbddd;
}
.st22 {
  opacity: 0.5;
  fill: #abbadc;
}
.st57 {
  opacity: 0.35;
  fill: #a7b6da;
}
.st11 {
  opacity: 0.5;
  fill: #a3b3d9;
}
.st41 {
  opacity: 0.3;
  fill: #9fafd7;
}
.st4 {
  opacity: 0.5;
  fill: #9dadd6;
}
.st50 {
  opacity: 0.35;
  fill: #97a8d4;
}
.st28 {
  opacity: 0.3;
  fill: #93a4d2;
}
.st42 {
  opacity: 0.3;
  fill: #8fa0d0;
}
.st20 {
  opacity: 0.5;
  fill: #8b9cce;
}
.st44 {
  opacity: 0.5;
  fill: #8798cc;
}
.st53 {
  opacity: 0.3;
  fill: #8394ca;
}
.st9 {
  opacity: 0.5;
  fill: #7f90c8;
}
.st14 {
  opacity: 0.3;
  fill: #7b8cc6;
}
.st38 {
  opacity: 0.3;
  fill: #7788c4;
}
.st1 {
  opacity: 0.5;
  fill: #7384c2;
}
.st40 {
  opacity: 0.35;
  fill: #7384c2;
}
.st55 {
  opacity: 0.3;
  fill: #7384c2;
}
.st52 {
  opacity: 0.3;
  fill: #6f80c0;
}
.st12 {
  opacity: 0.5;
  fill: #6b7cbe;
}
.st16 {
  opacity: 0.5;
  fill: #6778bc;
}
.st23 {
  opacity: 0.3;
  fill: #6375bb;
}
.st49 {
  opacity: 0.5;
  fill: #5f72ba;
}
.st39 {
  opacity: 0.3;
  fill: #5b6fb9;
}
.st30 {
  opacity: 0.3;
  fill: #576cb8;
}
.st21 {
  opacity: 0.5;
  fill: #5369b7;
}
.st0 {
  opacity: 0.5;
  fill: #4f66b6;
}
.st7 {
  opacity: 0.5;
  fill: #4b63b5;
}
.st26 {
  opacity: 0.3;
  fill: #4660b4;
}
.st25 {
  opacity: 0.3;
  fill: #445fb4;
}
.st35 {
  opacity: 0.3;
  fill: #415db3;
}
.st59 {
  opacity: 0.37;
  fill: #3f5cb3;
}
.st19 {
  opacity: 0.5;
  fill: #3c5ab2;
}
.st15 {
  opacity: 0.3;
  fill: #3a59b2;
}
.st37 {
  opacity: 0.3;
  fill: #3254b0;
}

/* GLASS EFFECT */
.glass-dark {
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 32px 32px 0px 0px;
  backdrop-filter: blur(10px);
  color: white;
  z-index: 20;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-light {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  padding: 1% 5%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* NAME HEADER */

.name {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 2% 0%;
}

h1 {
  text-align: right;
  line-height: 1;
}

.firstname {
  position: relative;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 3em;
}

.firstname::before {
  background-color: #ffbc42;
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: 50%;
  left: -5px;
  bottom: 10px;
  z-index: -1;
  transform: rotate(-2deg);
}

.lastname {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 1em;
}

/* ROLE TITLE ANIMATION */

h3 {
  font-family: "Manrope", sans-serif;
  text-align: left;
}

.prof-role1 {
  animation: prof-role1;
}

.prof-role2 {
  animation: prof-role2;
}

.prof-role1,
.prof-role2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.prof-role1::after,
.prof-role2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes prof-role1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 10.5em;
  }
}

@keyframes prof-role2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 8.3em;
  }
}

.pers-role1 {
	animation: pers-role1;
  }
  
  .pers-role2 {
	animation: pers-role2;
  }
  
  .pers-role1,
  .pers-role2 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	animation-duration: 20s;
	animation-timing-function: steps(25, end);
	animation-iteration-count: infinite;
  }
  
  .pers-role1::after,
  .pers-role2::after {
	content: "|";
	position: absolute;
	right: 0;
	animation: caret infinite;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
  }
  
  @keyframes pers-role1 {
	0%,
	50%,
	100% {
	  width: 0;
	}
	10%,
	40% {
	  width: 4.8em;
	}
  }
  
  @keyframes pers-role2 {
	0%,
	50%,
	100% {
	  width: 0;
	}
  
	60%,
	90% {
	  width: 3.6em;
	}
  }

@keyframes caret {
	0%,
	100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }

/* LINKS */

a {
  text-decoration: none;
}

a:link {
  color: #ffffff;
}
a:hover {
  color: #4b54f7;
}
a:active {
  color: #ffbc42;
} 
 a:visited {
	color: #fff;
}

a:visited:hover {
	color: #4b54f7;
}

/* NAVIGATION */

nav li {
  list-style: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 19, 22, 0.5);
  color: #fff;
  z-index: 200;
}

.nav-links {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.nav-links a {
  color: #fff;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
}

.nav-menu li {
  padding: 20px;
}

.nav-menu li:hover {
  background-color: #202c39;
  transition: 0.3s ease;
}

.nav-about {
  position: relative;
}

.nav-dropdown {
  background-color: rgba(20, 19, 22, 1);
  padding: 0;
  position: absolute;
  display: none;
  top: 60px;
}

.nav-dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.nav-dropdown li:hover {
  background-color: #202c39;
}

.nav-about:hover .nav-dropdown {
  display: block;
}

/* TEXT */

h2 {
  font-family: "Manrope", sans-serif;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2em;
  color: #4b54f7;
  letter-spacing: 5px;
  margin: 5% 0;
}

.highlight {
  position: relative;
  padding: 0;
}

.highlight::before {
  background-color: #fff;
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  left: -10px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
  transition: 0.5s;
}

.highlight:hover::before {
  height: 60%;
}

p {
  font-family: "Quicksand", sans-serif;
}
main li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
}

/* IMAGE*/

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(/thinkful-portfolio/images/KatyaHeadshot.jpg) no-repeat;
  background-size: 80%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.headshot img {
  width: 100%;
  border-radius: 100%;
}

.headshot {
  flex: 1;
}

.intro {
  flex: 2;
  padding-left: 1%;
}

.profile {
  display: flex;
}

.about-image {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.about-bd {
	width: 100%;
	position: relative;
}

.about-bd::after {
	content: '';
  display: block;
  position: absolute;
  top: 10px;
  right: -10px;
  left: 10px;
  bottom: -5px;
  border: solid 2px white;
}

/* DIVIDER */

hr {
  border: 0;
  height: 1px;
  width: 70%;
  position: relative;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.5);
}

hr::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #ffffff;
  display: inline-block;
  border: 2px solid #ffffff;
  position: absolute;
  top: -5px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform: rotate(45deg);
}

/* FOOTER */

footer p {
	text-align: center;
	padding-top: 1.5%;
	font-weight: bold;
}
.social {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	padding-top: 3%;
}

.social a {
	margin: 1%;
}

/* RESPONSIVE */

input[type="checkbox"] {
  display: none;
}

.nav-hamburger {
  display: none;
  font-size: 25px;
  user-select: none;
  padding: 10px;
}

@media (max-width: 1200px) {
  .glass-dark {
    width: 50%;
  }
  .glass-light {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .glass-dark {
    width: 60%;
  }
  .glass-light {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .glass-dark {
    width: 70%;
  }
  .glass-light {
    width: 60%;
  }
  h1 {
    font-size: 100%;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background-color: rgba(20, 19, 22, 1);
    right: 0;
    left: 0;
    text-align: center;
    padding: 0;
  }
  .nav-menu li:hover {
    background-color: #202c39;
    transition: 0.3s ease;
  }

  input[type="checkbox"]:checked ~ .nav-menu {
    display: block;
  }
  .nav-hamburger {
    display: block;
  }
  .nav-dropdown {
    top: 60px;
    transform: translateX(35%);
  }
  .nav-dropdown li:hover {
    background-color: #202c39;
  }
}
